*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;   
}
.entryPage{
    background-color: #0080ff;
    padding-top: 60%;
    text-align: center;
    height: 100vh;
}
.entryPage h1, .UserAvater, .pointEmoji{
    font-family: 'Roboto', sans-serif;
    color: honeydew;;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
}
.avatar, .entryPageBtn, .interestPageBtn, .prevbtn, .nextbtn, .playAgain{
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    border: transparent;
    text-decoration: none;
}
.playAgain{
    color:#0080ff ;
}
.interestHead, .UserAvater{
    color: grey;
}
.interestHead{
    font-size: 18px;
}
.interestSection, .finalPage{
    display: none;      
}
.interestPage, .quiz{
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;   
}
.interests{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(5, 40px);
    grid-gap: 15px;
    justify-content: center;
    margin: 15px 0 25px;
}
.interestEdu, .interestFash, .interestArt{
    grid-column: 1/2;
}
.interestPol, .interestFin, .interestFood{
    grid-column: 3/-1;
}
.interestEnt, .interestSci{
    grid-column: 2/3;
}

.interest{
    border: transparent;
    border-radius: 20px;
    background-color: #0080ff;
    color: honeydew;;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding:  10px 15px ;
    margin: 0;
}
.interestEnt{
    padding:10px 50px 10px 0 ;
}
.interestPageBtn, .prevbtn, .nextbtn{
    background-color: teal;
    color: honeydew;;
}
.quizSection{
    display: none;
}
.quiz{
    z-index: 2;  
    text-align: center;
}
.quizHead{
    padding-top: 30px;
    margin-bottom: 60px;
    justify-content: center;
    display: flex;
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.question{
    margin: 40px auto;
    background-color: #0080ff;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color: honeydew;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    width: 80%;
    
}
.scoreBox{
    display: flex;
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    justify-content: center;
}
.options{
    justify-content: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 40px);
    margin: 10px 0 90px;
}
.option1, .option2, .option3, .option4{
    background-color: #0080ff;
    text-align: center;
    color:honeydew; 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px;
    font-size: 15px;
    border: transparent;
    border-radius: 20px;

}
.lastPage{
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #0080ff;
    text-align: center;
    z-index: 3;
}
.lastPage div{
    padding-top: 60%;
}
.pointEmoji{
    margin-bottom: 20px;
}


/*Desktop Styles*/
@media only screen and (min-width: 960px){
    .container{
        width: 100%;   
        text-align: center;
    }
    .entryPage{
        background-color: #0080ff;
        padding-top: 20%;
        width: 100%;
        text-align: center;
    }
    .interestEnt{
        padding:10px 15px;
    }
    .interests{
        display: grid;
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(5, 40px);
        grid-gap: 25px;
        justify-content: center;
        margin: 35px 0 45px;
    }
    .avatar, .entryPageBtn, .interestPageBtn, .prevbtn, .nextbtn{
        padding: 15px 20px;
        font-size: 20px;
        
    }
    .entryPageBtn:hover, .interestPageBtn:hover, .interest:hover, .prevbtn:hover, .nextbtn:hover, .playAgain:hover,
    .option1:hover, .option2:hover, .option3:hover, .option4:hover, .interest:hover{
        cursor: pointer;
      opacity: 0.8;
    }

    .question{ 
        font-size: 20px;
        padding: 15px 25px;
        width: 40%;
        
    }
    .options{
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(2, 50px);
        margin: 15px 0 95px;
    }
    .scoreBox{
        font-size: 20px;
    }

    .lastPage{
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #0080ff;
        text-align: center;
        z-index: 3;
    }
    .lastPage div{
        padding-top: 20%;
    }
    .pointEmoji{
        margin-bottom: 20px;
    }
    
}